@font-face {
    font-family: 'MosakLight';
    src: url("../fonts/Mosk_Typeface/Mosk_Typeface/Mosk\ Normal\ 400.ttf");
}

@font-face {
    font-family: 'Mosak';
    src: url("../fonts/Mosk_Typeface/Mosk_Typeface/Mosk\ Bold\ 700.ttf");
  }
  @font-face {
    font-family: 'MosakExtra';
    src: url("../fonts/Mosk_Typeface/Mosk_Typeface/Mosk\ Extra-Bold\ 800.ttf");
  }
  @font-face {
    font-family: 'MosakUltra';
    src: url("../fonts/Mosk_Typeface/Mosk_Typeface/Mosk\ Ultra-Bold\ 900.ttf");
  }
  
  @font-face {
    font-family: 'Jenthill';
    src: url("../fonts/Mosk_Typeface/Mosk_Typeface/Jenthill\ DEMO.ttf");
  }