@import './Styles/index.scss';

body {
  margin: 0;
  font-family: 'Mosak',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-white);
  background-color: var(--main-purple);
  
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--scrollbar);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-purple); 
  border-radius: 10px;
}


// Navbar
.nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  
}


.mobile-nav {
  display: none;
  @include lg {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: $main-background-dark;
    border-top: 2px var(--text-gray) solid;
    background-color: var(--main-dark);
    ul {
      display: flex;
      margin: auto;
      // width: 70%;
      padding: 12px;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        font-size: .9em;
        padding: 0 3%;
      }
    }
  }
}

.nav-bar {
  top: 0;
  left: 0;
  background-color: transparent;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: $base-padding * 2 $base-padding * 2;
  margin: auto;

  @include md {
    width: 100%;
  }

  .ul {
    display: flex;
    ::selection {
      background: var(--main-dark);
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }


  .logo {
      text-transform: lowercase;
      font-weight: 700;
        font-size: 3em;
        color: var(--text-purple);
        font-family: 'Jenthill';
      }

  // .logo {
  //   width: 130px;
  //   color: var(--text-purple);
  //   g {
  //     background-color: white;
  //     color: white;
  //   }
  // }

      ul {
        display: flex;
        justify-content: space-between;
        width: 380px;
      @include lg {
        width: auto;
        justify-content: flex-end;   
         }
      }

      li {
        // text-transform: capitalize;
        font-weight: bold;
        font-size: $font-size-md;
        color: var(--text-var(--text-white));
        z-index: 1;


        &:hover {
          // color: $text-purple;
          animation: fillHover 1.7s;
          animation-fill-mode: forwards;
        }        

        @include lg {
          display: none;
        }
      }

    //   li:last-child {
    //     display: inline-block;
    // }
      
 .toggle {
  transform: scale(.5) rotate(180deg);
  margin-top: -18px;

  @include md {
    transform: scale(0.5) rotate(180deg) translateX(-60px);
  }
 }

//  LI HOVER EFFECT 

.menu__link {
  position: relative;
  &:hover {
    // color: $text-purple;
    animation: fillHover 1.7s;
    animation-fill-mode: forwards;
  }      
}

.menu__link svg {
  fill: none;
  stroke: var(--text-white);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(70% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

  

@keyframes fillHover {
  from {stroke: var(--text-white); }
  to {stroke: var(--text-white); color: var(--text-white);}
}


.menu__link--active svg,
.menu__link:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: fillHover 1.7s;
  animation-fill-mode: forwards;
}

}

// Background colors
 .color-one {
  position: absolute;
  background-color: var(--main-dark);
  width: 32%;
  height: 100%;
  z-index: 1;
  left: 0;
  transition: .2s;
  @include lg {
  width: 100%;
  }
}
.color-two {
  position: absolute;
  right: 0;
  background-color: var(--main-purple);
  width: 68%;
  height: 100%;
  z-index: 1;
  transition: .2s;

  @include lg {
   display: none; 
  }
}

// Homepage


.home { 
  height: 100vh;
  position: relative;
  z-index: 2;
  .selection-one {
    ::selection {
      background: var(--main-dark);
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }

  .selection-transparent {
    ::selection {
      background: transparent;
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }
  // .selection-two {
  //   ::selection {
  //     background: var(--text-var(--text-white));
  //     color: $main-turqoise;
  //     // -webkit-text-stroke-color: var(--main-dark);
  //   }
  // }
  
  

  .hero-section {

    font-family: 'MosakUltra';
    color: var(--text-var(--text-white));
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 3;

      svg {
        .st0{display:none;fill:#FFFFFF;}
        .st1{fill:#56AF96;}
        .st2{fill:#6FDCBF;}
        .st3{fill:#52B292;}
        .st4{fill:#A4D3BA;}
        .st5{fill:#AD998A;}
        .st6{fill:#C1AB9D;}
        .st7{opacity:0.49;fill:#FFFFFF;enable-background:new    ;}
        .st8{fill:#D2D8DB;}
        .st9{fill:#E2E6E8;}
        .st10{fill:#A3AEB2;}
        .st11{fill:#AF91DB;}
        .st12{fill:#A3D9E8;}
        .st13{fill:#DD859C;}
        .st14{opacity:0.54;fill:#FFFFFF;enable-background:new    ;}
        .st15{fill-rule:evenodd;clip-rule:evenodd;fill:#BABCBE;}
        .st16{fill-rule:evenodd;clip-rule:evenodd;fill:#E5E6E7;}
        .st17{fill-rule:evenodd;clip-rule:evenodd;fill:#424243;}
        .st18{fill:#B2B2D8;}
        .st19{fill:#404040;}
        .st20{fill:#FFF9CC;}
        .st21{opacity:0.45;fill:#FFF4C5;enable-background:new    ;}
        .st22{fill:#CC7D96;}
        .st23{fill-rule:evenodd;clip-rule:evenodd;fill:#DD859C;}
        .st24{fill:none;stroke:#D1D1D1;stroke-width:4.7961;stroke-linecap:round;stroke-miterlimit:47.961;stroke-opacity:0;}
        
          .st25{fill:none;stroke:#D1D1D1;stroke-width:4.7961;stroke-linecap:round;stroke-miterlimit:47.961;stroke-opacity:0;stroke-dasharray:73.8834,121.8444;}
        .st26{fill:#D2CFD6;}
        .st27{fill:#FFFFFF;}
        .st28{fill:#E3D1E5;}
        .st29{fill:#EAEAEA;}
        .st30{fill:#333333;}
        .st31{clip-path:url(#SVGID_00000060031520780306342980000009659568176091124377_);}
        .st32{fill:#565266;}
        .st33{clip-path:url(#SVGID_00000133517942043095060740000010439224006781229711_);}
        .st34{fill:#B0BAEA;}
        .st35{clip-path:url(#SVGID_00000069398881825836786480000011680950126256279469_);}
        .st36{fill:#E84D4D;}
        .st37{clip-path:url(#SVGID_00000088123307776156983800000009095486277801168038_);}
        .st38{fill:#F2DD77;}
        .st39{clip-path:url(#SVGID_00000003066427350046444270000001530330795087750551_);}
        .st40{fill:#4EB785;}
        .st41{clip-path:url(#SVGID_00000012435828918324864400000008654790307928257925_);}
        .st42{fill:#706D84;}
        .st43{clip-path:url(#SVGID_00000095337152740417687600000005695803891192142487_);}
        .st44{opacity:0.39;fill:#A3848D;enable-background:new    ;}
        .st45{clip-path:url(#SVGID_00000060025641798767064100000003007294797890063029_);}
        .st46{opacity:0.39;fill:#A58492;enable-background:new    ;}
        .st47{clip-path:url(#SVGID_00000158016090985540663990000002000115491536287676_);}
        .st48{opacity:0.39;fill:#A284A3;enable-background:new    ;}
        .st49{clip-path:url(#SVGID_00000101088490322552535460000004014505248034513543_);}
        .st50{opacity:0.39;fill:#9084A0;enable-background:new    ;}
        .st51{clip-path:url(#SVGID_00000127017040356503048620000007710174743605319056_);}
        .st52{opacity:0.39;fill:#83859E;enable-background:new    ;}
        .st53{clip-path:url(#SVGID_00000183225571342958844610000014925719772984847799_);}
        .st54{opacity:0.39;fill:#83929B;enable-background:new    ;}
        .st55{clip-path:url(#SVGID_00000147901430854663525970000004597108940739557260_);}
        .st56{opacity:0.39;fill:#829995;enable-background:new    ;}
        .st57{clip-path:url(#SVGID_00000095333898333919710700000005115836325522764478_);}
        .st58{opacity:0.39;fill:#84998B;enable-background:new    ;}
        .st59{clip-path:url(#SVGID_00000049204771769108095610000016924483316200563891_);}
        .st60{opacity:0.39;fill:#899985;enable-background:new    ;}
        .st61{clip-path:url(#SVGID_00000115497399129942821960000010477866138074588589_);}
        .st62{opacity:0.39;fill:#979987;enable-background:new    ;}
        .st63{clip-path:url(#SVGID_00000044893407670653212810000006344542935424419995_);}
        .st64{opacity:0.39;fill:#999488;enable-background:new    ;}
        .st65{clip-path:url(#SVGID_00000092455898118200221640000006100837904831791251_);}
        .st66{opacity:0.39;fill:#998E8A;enable-background:new    ;}
        .st67{clip-path:url(#SVGID_00000075884615141902788450000008345017857473801094_);}
        .st68{opacity:0.39;fill:#998C8C;enable-background:new    ;}
        .st69{clip-path:url(#SVGID_00000036949334608897453040000004352387524353570188_);}
        .st70{clip-path:url(#SVGID_00000116922120862594819910000007914680578218923199_);}
        .st71{fill:#D3D3D3;}
        .st72{clip-path:url(#SVGID_00000000917824335647271430000006585963798825494943_);}
        .st73{clip-path:url(#SVGID_00000068668662739906702650000003159882881847513779_);}
        .st74{clip-path:url(#SVGID_00000132074005299610928010000017665399990317475716_);}
        .st75{clip-path:url(#SVGID_00000140711599309056452990000012406373491310570882_);}
        .st76{fill:#83E5AB;}
        .st77{clip-path:url(#SVGID_00000130626685056085562450000002332642164446848387_);}
        .st78{clip-path:url(#SVGID_00000178908441325784538100000011637357162212983995_);}
        .st79{clip-path:url(#SVGID_00000140733136759317246830000001133734667502608010_);}
        .st80{clip-path:url(#SVGID_00000099623923718094242190000012469799275351434117_);}
        .st81{clip-path:url(#SVGID_00000106126118922423900450000017769120919026925492_);}
        .st82{fill:#F0F0F2;}
        .st83{clip-path:url(#SVGID_00000043432110997528445440000007040847140593516200_);}
        .st84{clip-path:url(#SVGID_00000093886391784867077170000000793729096596429487_);}
        .st85{clip-path:url(#SVGID_00000090269943615779693380000013869174902316120763_);}
        .st86{clip-path:url(#SVGID_00000034087182534922972240000003111455933255789987_);}
        .st87{fill:none;stroke:#DD859C;stroke-width:5.7553;stroke-linecap:round;stroke-miterlimit:47.961;}
        .st88{clip-path:url(#SVGID_00000004516852388201956670000014180673384003812502_);}
        .st89{clip-path:url(#SVGID_00000105393231767328809140000018144389395737597355_);}
        .st90{clip-path:url(#SVGID_00000128464979631544320570000015592051833271189676_);}
        .st91{clip-path:url(#SVGID_00000060016170037571618170000017000411850134598022_);}
        .st92{clip-path:url(#SVGID_00000174581065221773920220000003659256033484674188_);}
        .st93{clip-path:url(#SVGID_00000177457263713129791650000006522872947718802088_);}
        .st94{clip-path:url(#SVGID_00000155138274124313435640000016541783458535090322_);}
        .st95{clip-path:url(#SVGID_00000023979369477310309380000017195930866649117365_);}
        .st96{clip-path:url(#SVGID_00000014632154110356341350000002338011974162623125_);}
        .st97{clip-path:url(#SVGID_00000096758635818001939040000005084429305742951077_);}
        .st98{clip-path:url(#SVGID_00000067220298512415191320000006015089597434406304_);}
        .st99{clip-path:url(#SVGID_00000137848629281534893940000017963990270557501593_);}
        .st100{fill:#F2C5C2;}
        .st101{clip-path:url(#SVGID_00000078017194102154775160000008728689598895772564_);}
        .st102{clip-path:url(#SVGID_00000147910307221806732150000008350466353371862155_);}
        .st103{clip-path:url(#SVGID_00000177449023787020823790000015556305762486204333_);}
        .st104{clip-path:url(#SVGID_00000080208090313449255190000002645433255995467175_);}
        .st105{opacity:0.48;fill:#FFFFFF;enable-background:new    ;}
        .st106{clip-path:url(#SVGID_00000179619222114015571600000001597802905225016496_);}
        .st107{clip-path:url(#SVGID_00000063624080296910675460000002647403343018596024_);}
        .st108{clip-path:url(#SVGID_00000074413597997800469300000016809462971935155882_);}
        .st109{clip-path:url(#SVGID_00000069361200923380719390000016900902644197675916_);}
        
          .st110{opacity:0.68;fill:none;stroke:#FFFFFF;stroke-width:5.7553;stroke-linecap:round;stroke-miterlimit:47.961;enable-background:new    ;}
        .st111{clip-path:url(#SVGID_00000106129074332479180870000010772890796233756828_);}
        .st112{clip-path:url(#SVGID_00000096749773711456968910000011596622481354916757_);}
        .st113{clip-path:url(#SVGID_00000023973064257382307290000002218046112923158177_);}
        .st114{clip-path:url(#SVGID_00000054975084604653794970000007023020294082206387_);}
        .st115{clip-path:url(#SVGID_00000036960226997051106180000018394851812475830928_);}
        .st116{clip-path:url(#SVGID_00000075841447852508263600000016836166112516641185_);}
        .st117{clip-path:url(#SVGID_00000039812375145821598270000003431689571096124061_);}
        .st118{clip-path:url(#SVGID_00000150788104079323209080000007658155338783312055_);}
        .st119{fill:#BDC0F4;}
        .st120{clip-path:url(#SVGID_00000129887331843468370840000000968853865078249661_);}
        .st121{clip-path:url(#SVGID_00000109720848624024695670000006862124071912484240_);}
        .st122{clip-path:url(#SVGID_00000171710653774549113980000018180362424084438665_);}
        .st123{clip-path:url(#SVGID_00000070084375260089367700000010451717517840232108_);}
        
          .st124{opacity:0.81;fill:none;stroke:#FFFFFF;stroke-width:5.7553;stroke-linecap:round;stroke-miterlimit:47.961;enable-background:new    ;}
        .st125{clip-path:url(#SVGID_00000176747027396208571230000015919326162871171001_);}
        .st126{clip-path:url(#SVGID_00000134930744158105321990000012478959677723002003_);}
        .st127{clip-path:url(#SVGID_00000074411483429917805060000012619603209798946718_);}
        .st128{clip-path:url(#SVGID_00000165929427392840028750000007738505094324733101_);}
        .st129{clip-path:url(#SVGID_00000096761918504192690930000017050976065370198158_);}
        .st130{clip-path:url(#SVGID_00000076594752629699808770000000533788090617153172_);}
        .st131{clip-path:url(#SVGID_00000124880800394865439540000006344644038878257587_);}
        .st132{clip-path:url(#SVGID_00000148628321537097325760000012323200820356301227_);}
        .st133{clip-path:url(#SVGID_00000085210322729887551200000011894904589505626782_);}
        .st134{clip-path:url(#SVGID_00000172434216919557678010000005109379079781453751_);}
        .st135{clip-path:url(#SVGID_00000076590223901766410530000000316447272369195694_);}
        .st136{clip-path:url(#SVGID_00000158006675528275745330000012545490537847887548_);}
        .st137{clip-path:url(#SVGID_00000133509095994521209190000002962221307928477869_);}
        .st138{clip-path:url(#SVGID_00000109000248013860731970000013256167858455022527_);}
        .st139{clip-path:url(#SVGID_00000170268965094102000020000005880311917916421512_);}
        .st140{clip-path:url(#SVGID_00000073721097565357036310000000199394660776388256_);}
        .st141{clip-path:url(#SVGID_00000130607103060441269130000004718948509163231929_);}
        .st142{clip-path:url(#SVGID_00000145763293282131622670000003010660551210152854_);}
        .st143{clip-path:url(#SVGID_00000051357630468260406230000004477124092138273963_);}
        .st144{clip-path:url(#SVGID_00000029037078282915713430000008248826535307822214_);}
        .st145{fill:#C2E7EF;}
        .st146{clip-path:url(#SVGID_00000032639546904383626620000011420373587573724586_);}
        .st147{clip-path:url(#SVGID_00000091715285965160811150000017251193998327160194_);}
        .st148{clip-path:url(#SVGID_00000156575772183470443510000012256520116740002698_);}
        .st149{clip-path:url(#SVGID_00000085224371398162470040000005634898653066449030_);}
        .st150{clip-path:url(#SVGID_00000178181976332544308600000003833395129589899689_);}
        .st151{clip-path:url(#SVGID_00000110450103356082536770000017265042978267388834_);}
        .st152{clip-path:url(#SVGID_00000123423057106689758300000015323351915369947545_);}
        .st153{clip-path:url(#SVGID_00000049183976441159468590000005690363035145091499_);}
        .st154{clip-path:url(#SVGID_00000176765269748017846930000008291255490059071156_);}
        .st155{clip-path:url(#SVGID_00000138551038288125920270000012302690344368610201_);}
        .st156{clip-path:url(#SVGID_00000090262291815917754060000006978999253013474450_);}
        .st157{clip-path:url(#SVGID_00000017481530981357498330000005737228333417863602_);}
        .st158{clip-path:url(#SVGID_00000096754934110169791970000005241741163844111516_);}
        .st159{clip-path:url(#SVGID_00000024686474275040628560000016506381918294775186_);}
        .st160{clip-path:url(#SVGID_00000067205714463537987320000004566298696094530693_);}
        .st161{clip-path:url(#SVGID_00000147934678752328833280000004006423146503401613_);}
        .st162{clip-path:url(#SVGID_00000172402199918367115110000018044971044147763076_);}
        .st163{clip-path:url(#SVGID_00000154383420686877084440000013337597397282318750_);}
        .st164{clip-path:url(#SVGID_00000142153209547503467330000005696820044632902575_);}
        .st165{clip-path:url(#SVGID_00000039121042959923370880000005907640271347099824_);}
        .st166{clip-path:url(#SVGID_00000045585837015778653680000008799620416929817009_);}
        .st167{clip-path:url(#SVGID_00000094618305648118753090000016379926861497147272_);}
        .st168{clip-path:url(#SVGID_00000167388726205298265480000006478410126180924090_);}
        .st169{clip-path:url(#SVGID_00000018915587038558054680000017519243645729444528_);}
        .st170{clip-path:url(#SVGID_00000105409737076291926040000003184789779721865136_);}
        .st171{clip-path:url(#SVGID_00000052799807796796775060000002358549682531105727_);}
        .st172{clip-path:url(#SVGID_00000023274634535981836990000001235199428659012258_);}
        .st173{clip-path:url(#SVGID_00000173877009178373313620000017652382525267723446_);}
        .st174{fill:#D0B6D1;}
        .st175{clip-path:url(#SVGID_00000120542832389105768720000006229080524875351482_);}
        .st176{clip-path:url(#SVGID_00000036227055370993286920000017902549752700662949_);}
        .st177{
          clip-path:url(#SVGID_00000085218244975067503540000014303677407058788000_);
           fill: #dddddd;
          }
        .st178{clip-path:url(#SVGID_00000006703765836276036450000013898035627303631500_); fill: #afafaf}
        .st179{clip-path:url(#SVGID_00000152951295248490419720000011480242755777905546_);}
        .st180{clip-path:url(#SVGID_00000096028845340786549470000009881319566993538712_);}
        .st181{clip-path:url(#SVGID_00000069381110697204908870000005243948414665820846_);}
        .st182{clip-path:url(#SVGID_00000060736767508988642920000011321994541782900610_);}
        .st183{clip-path:url(#SVGID_00000085950904759745451030000004384820865576562064_);}
        .st184{clip-path:url(#SVGID_00000060012878164505373960000017529616799655942063_);}
        .st185{clip-path:url(#SVGID_00000094615205279790640250000007894971699442654374_);}
        .st186{clip-path:url(#SVGID_00000086680479201317461120000003932006165810557073_);}
        .st187{clip-path:url(#SVGID_00000069381893308182381360000006893032566982627259_);}
        .st188{clip-path:url(#SVGID_00000173879353361341420710000013303813752607475898_);}
        .st189{clip-path:url(#SVGID_00000118390594095132296420000000523211580033061762_);}
        .st190{clip-path:url(#SVGID_00000083784721598950334780000017372649219632275096_);}
        .st191{clip-path:url(#SVGID_00000181051769193280675790000006747445656206253466_);}
        .st192{clip-path:url(#SVGID_00000106849023255871595200000009122950481181078420_);}
        .st193{clip-path:url(#SVGID_00000007415461052029897200000014908451609936166529_);}
        .st194{clip-path:url(#SVGID_00000021117598181702420690000010142899915393095853_);}
        .st195{clip-path:url(#SVGID_00000171719902874420848910000016635311259211962262_);}
        .st196{clip-path:url(#SVGID_00000089535941340199276560000000078685180094827923_);}
        .st197{clip-path:url(#SVGID_00000124144711997612215310000005945927830395492739_);}
        .st198{clip-path:url(#SVGID_00000082357081116510291350000000711832397321753740_);}
        .st199{clip-path:url(#SVGID_00000094575930050830757620000009794014635919034528_);}
        .st200{clip-path:url(#SVGID_00000161601555631012071550000004315013751181385088_);}
        .st201{clip-path:url(#SVGID_00000104668552824820972660000013152326559918559133_);}
        .st202{clip-path:url(#SVGID_00000164472124643666015970000007124382470816925824_);}
        .st203{clip-path:url(#SVGID_00000148624694436294464170000004929815043111118741_);}
        .st204{clip-path:url(#SVGID_00000067222895520405808320000007915887539787679874_);}
        .st205{clip-path:url(#SVGID_00000034785484250515360260000006459105731963215769_);}
        .st206{clip-path:url(#SVGID_00000116208335352838499340000013070980143037235602_);}
        .st207{fill:#DDDDDD;}
        .st208{fill:#AFAFAF;}
        .st209{fill:none;stroke:#88D3D1;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st210{fill:none;stroke:#DD859C;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st211{fill:none;stroke:#DD859C;stroke-width:4.7961;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st212{fill:none;stroke:#A3B2E5;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st213{fill:none;stroke:#F2C5C2;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st214{fill:none;stroke:#F9E4AC;stroke-width:4.7961;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st215{fill:#A693D1;fill-opacity:0;}
        .st216{fill:#6FB6C6;fill-opacity:0;}
        .st217{fill:#88D3D1;fill-opacity:0;}
        
          .st218{fill:none;stroke:#FCEBB6;stroke-width:9.5922;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:19.1844;stroke-opacity:0;}
        .st219{fill:none;stroke:#D6A0E0;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st220{fill:none;stroke:#F9E4AC;stroke-width:9.5922;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st221{fill:none;stroke:#A3B2E5;stroke-width:4.7961;stroke-miterlimit:47.961;stroke-opacity:0;}
        .st222{fill:#F2C5C2;fill-opacity:0;}
      };
    
    .container-one {
      width: fit-content;
      height: 100%;
      @include lg {
        display: none;
      }
      svg {
        position: relative;
        width: 100%;
        height: 100%;
        right: -25px;
        z-index: 1;

        #pages {
          z-index: 33;
          fill: blue;
          transform: translateY(-200px);
        }
      }
      #cover {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    
    .container-two {
      max-width: 600px;
      flex-grow: 1;
      letter-spacing: .6;
      font-size: 1.9em;
      @include lg {
      max-width: 85%;
      padding-right: 0%;
      margin: 0 auto;
      font-size: 1.4em;
      }

      @include md {
        font-size: 1.2em;
        max-width: 93%;
      }
      p {
      span {
        font-family: 'Jenthill';
      }
    }

      h1 {
              span {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--text-white);
        &:hover {
          color: var(--text-white);
        }
      }
      }

    }
  }

  // About section

  .about-section {
    // ::selection {
    //   background: var(--text-var(--text-white));
    // }
  
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-turqoise);
    @include lg {
       display: flex;
    align-items: center;
    }
   

    .flex-container {
     width: 75%;
     height: 100%;
    //  background-color: gray;
     margin: auto;
     display: flex;
     justify-content: space-around;
     align-items: center;
    //  flex-wrap: wrap;
     @include breakpoint(1100px) {
      width: 85%;
     }
     @include md {
      flex-wrap: wrap;
      height: 80%;
      justify-content: flex-start;
     }
    }

    .item-one {
      width: 500px;
      height: 300px;
      // background-color: blue;
      text-align: left;
      @include sm {
        margin-bottom: 15%;

      }
      // flex-grow: 2;
      padding-right: 50px;
      h1 {
        font-size: 65px;
        line-height: 100.3%;
        padding-bottom: 20px;
        font-family: 'MosakExtra';
      }
    //  h1 {
    //   a, a:link {
    //     text-decoration: none;
    //     background-position-y: -0%;
    //     background-image: linear-gradient( transparent 50%, var(--main-purple) 50%);
    //     transition: background 500ms ease;
    //     background-size: 2px;
    //     background-size: auto 175%;
    //     // font-size: 30px;
    //   }
      
    //   a:hover {
    //     background-position-y: 100%;
    //   }
    //  }

      p {
        font-size: 20px;
        line-height: 30px;
        font-family: "MosakLight";
      }

     @include breakpoint(1100px) {
      padding-right: 40px;
      h1 {
        font-size: 55px;
        line-height: 89.3%;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-family: "MosakLight";
      }

     }
      @include lg {
        padding-right: 10px;
        height: 300px;

        h1 {
          font-size: 55px;
          line-height: 89.3%;
          padding-bottom: 15px;
        }
      }
    }
    
    .item-two {
      background-color: var(--text-white);
      height: 350px;
      flex-basis: 400px;
      @include lg {
        flex-grow: 1;
        margin-bottom: 20px;
        height: 400px;
      }
      @include md {
        height: 300px;
      }
      @include sm {
        height: 200px;
      margin-top: 7%;

      }

      .image {
        background: url('./img/belal.jpeg');
        width: 100%;
        height: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        border: 2px solid var(--text-white);
        transform: translateX(5px) translateY(-7px);
        transition: .1s ease-out;
        &:hover {
        transform: translateX(0px) translateY(0px);
        }
      }

     @include md {
      // transform: scale(.9);
      width: 80%;
      height: auto;
     }

     @include md {
      // transform: scale(.9);
      width: 90%;
      height: 50%;

     }
     @include sm {
      transform: scale(1);
      width: 90%;
      height: 40%;
     }
    }
  }

// Projects Section

  .projects-section {
    
    height: auto;
    width: 100%;
    background-color: var(--main-background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-top: 200px;
    text-align: center;

    @include md {
      // text-align: left;
    }

    h1 {
      margin: 60px;
      font-size: 45px;
      text-transform: uppercase;
      @include md {
        font-size: 40px;
        margin: 45px 0 55px 35px;
      }
    }

    
    .flex-container {
      text-align: left;
      margin: 0 auto;
      padding-bottom: 150px;
      width: 80%;
      height: 50%;
      // background-color: rgb(90, 90, 90);
      display: flex;
      justify-content: space-evenly;
      @include lg {
        flex-wrap: wrap;
        padding-bottom: 100px;
      }
    }

    .item-one {
      background-color: var(--text-white);
      height: 300px;
      flex-basis: 450px;
      @include lg {
        flex-grow: 1;
        margin-bottom: 20px;
        height: 400px;
      }
      @include md {
        height: 300px;
      }
      @include sm {
        height: 200px;
      }
      .image1 {
        background: url('./img/adventure-time.jpg');
      }
     .image2 {
        background: url('./img/iconics.jpg');
      }
      .image {
        width: 100%;
        height: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        border: 2px solid var(--text-white);
        transform: translateX(5px) translateY(-7px);
        transition: .1s ease-out;
        &:hover {
        transform: translateX(0px) translateY(0px);
        }
      }
 
    }

    
    @include lg-min-max {
      .item-two-two {
        padding: 0 40px;
      } 
    }


    .item-two {
      display: flex;
      flex-direction: column;
      // background-color: red;
      flex-basis: 500px;
      margin: 10px 0px 0 20px;
      @include lg {
        margin: 10px 0 0 0;
      }

      h3 {
        font-size: 25px;
        font-family: "MosakExtra";
      }
      h4 {
        font-size: 19px;
        font-family: 'MosakExtra';
        margin-top: 10px;
        word-spacing: 2px;
      }

      p {
        font-size: 23px;
        font-family: 'MosakLight';
        color: var(--text-gray);
        line-height: 30px;
        margin-top: 10px;
      }

      .icons {
        margin: 10px 0;
        font-family: 'MosakUltra';
        // width: 180px;
        display: flex;
        // justify-content: flex;
        
        h3 {
          font-size: 30px;
          // padding-left: 15px;
        }
      }

      .icons1 h3 {
        padding-right: 15px;
      }

      .icons2 h3 {
        padding-left: 15px;
      }

      .button {
        @include box-btn(var(--main-dark), var(--text-white), 10px);
        
      }
      @include lg {
        flex-grow: 1;
      }
      
    }

    @include lg-min {
      .item-one-one {
       order: 1;
       .image {
         transform: translateX(-7px) translateY(-7px);
       }
     }
     .item-two-two {
       text-align: right;
       align-items: flex-end;
       padding: 0 0px;
       .button {
         div {
           transform: translateX(-5px) translateY(-5px);
         }
       }
     } 
     }

     .arrows {
      // background-color: gray;
      margin: auto;
      // @include  {
      //   margin-top: -90px;
      // }


      h2 {
        @include sm {
          transform: translateY(40px);
        }
        font-size: 50px;
        // color: var(--text-gray);
      }
     }
  }

  .arsenal {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--main-background-dark);
    margin-bottom: 30px;
    color: var(--text-white);

    .items {
      width: 80%;
      display: flex;
      margin: auto;
      // background-color: var(--text-white);
      justify-content: space-around;
      flex-wrap: wrap;
      
      h4 {
        font-size: 1.2em;
      }


      div {
        text-align: center;
        // background-color: blue;
        flex-basis: 25%;
        margin-bottom: 60px;

        @include md {
          flex-basis: 20%;
          margin-bottom: 50px;
        }

        h3 {
          font-size: 78px;
          padding: 20px 20px 0px 20px;
          @include md {
            font-size: 58px;
          }
        }
      }
    }
  }

  .arsenal::after,
  .arsenal::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 90px;
    background-color: inherit;
    bottom: 0;
    z-index: 3;
    bottom: -5em;
    
  }

  .arsenal::before {
    right: 50%;
    transform: skew(0, 5deg);
  }
  .arsenal::after {
    left: 50%;
    transform: skew(0, -5deg);
  }

  @include md {
    .arsenal::after,
    .arsenal::before {
      height: 90px;
      bottom: -3em;
      
    }
    .arsenal::before {
      transform: skew(0, 8deg);
    }
    .arsenal::after {
      transform: skew(0, -8deg);
    }
  }

  .space {
    width: 100%;
    height: 115vh;
    background-color: transparent;
    position: relative;
    z-index: -1;
    // margin-bottom: 399px;
  }

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--main-purple);
  

  .square {
    width: 84%;
    height: 75%;
    background-color: var(--main-dark);
    position: relative;
    top: 6%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include md {
      flex-direction: column;
      height: auto;
      top: 10%;
      width: 90%;
      justify-content: flex-start;
    }
    @include md {
      top: 5%;
    }

    h1 {
      position: absolute;
      top: 7%;
      left: 3%;
      font-size: 50px;
      font-family: 'Work Sans';
      @include md {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        padding-top: 30px;
      }
    }

    .item-one {
      width: 45%;
      height: 57%;
      display: flex;
      flex-direction: column;
      @include md {
        width: 90%;
        order: 1;
        height: auto;
        padding-top: 20px;

       }
      // background-color: gray;
      input, textarea, select {
        color: black;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        border: solid 2px var(--text-white);
      }

      textarea {
        font-family: 'Work Sans';
        font-size: .9em;
      }

    .btn {
      @include box-btn(var(--main-dark), var(--text-white), 10px);
      @include md {
        @include box-btn(var(--main-dark), var(--text-white), 10px, 100%);
      }

    }

    .icons {
      margin: 10px 0;
      font-family: 'MosakUltra';
      // width: 180px;
      // display: flex;
      // justify-content: flex;
      display: none;

      @include md {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        padding: 20px 0;
      }
      
      h3 {
        font-size: 30px;
        // padding-left: 15px;
      }
    }

    .icons1 h3 {
      padding-right: 20px;
    }
      
    }

    .item-two {
      width: 45%;
      height: 57%;
      @include md {
       width: 90%;
       height: auto;
       padding-top: 10px;

      }
      // background-color: black;
      p {
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        color: var(--text-gray);
        line-height: 30px;
        margin-top: 10px;
        line-height: 139.8%;
        font-weight: 450;
        // word-spacing: .2em;
        
        &:first-child {
          @include md {
            display: none;
          }
        }
      }
      h3 {
        color: var(--text-gray);
        line-height: 35px;
        margin-top: 7px;
        @include md {
          display: none;
        }
      }
      .icons {
        margin: 10px 0;
        font-family: 'MosakUltra';
        // width: 180px;
        display: flex;
        // justify-content: flex;
        @include md {
          display: none;
        }
        
        h3 {
          font-size: 30px;
          // padding-left: 15px;
        }
      }

      .icons1 h3 {
        padding-right: 30px;
      }
    }
  }
}


// Slider test

.webpage {
  z-index: -33;
  box-sizing: border-box;
}

#website {
  transform: translateY(-260px) translateX(-187.15px);
  z-index: -3;
  height: 200px;
  overflow-y: hidden;
}


.light-off {
  opacity: 0
}

.light-on {
  // transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: opacitey .6s;
  // animation-fill-mode: ;
}

@keyframes opacitey {
	0% {
		opacity: .34;
	}

	9% {
		opacity: 0.6;
	}

	17% {
		opacity: 0.34;
	}

	25% {
		opacity: 0.6;
	}

	34% {
		opacity: 0.33;
	}

	42% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.33;
	}

	100% {
		opacity: 1;
	}

}