@import './Styles/index.scss';

body {
  margin: 0;
  font-family: 'Mosak',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-white);
  background-color: var(--main-purple);
  
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--scrollbar);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-purple); 
  border-radius: 10px;
}


// Navbar
.nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  
}


.mobile-nav {
  display: none;
  @include lg {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: $main-background-dark;
    border-top: 2px var(--text-gray) solid;
    background-color: var(--main-dark);
    ul {
      display: flex;
      margin: auto;
      // width: 70%;
      padding: 12px;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        font-size: .9em;
        padding: 0 3%;
      }
    }
  }
}

.nav-bar {
  top: 0;
  left: 0;
  background-color: transparent;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: $base-padding * 2 $base-padding * 2;
  margin: auto;

  @include md {
    width: 100%;
  }

  .ul {
    display: flex;
    ::selection {
      background: var(--main-dark);
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }


  .logo {
      text-transform: lowercase;
      font-weight: 700;
        font-size: 3em;
        color: var(--text-purple);
        font-family: 'Jenthill';
      }

  // .logo {
  //   width: 130px;
  //   color: var(--text-purple);
  //   g {
  //     background-color: white;
  //     color: white;
  //   }
  // }

      ul {
        display: flex;
        justify-content: space-between;
        width: 380px;
      @include lg {
        width: auto;
        justify-content: flex-end;   
         }
      }

      li {
        text-transform: capitalize;
        font-weight: bold;
        font-size: $font-size-md;
        color: var(--text-var(--text-white));
        z-index: 1;


        &:hover {
          // color: $text-purple;
          animation: fillHover 1.7s;
          animation-fill-mode: forwards;
        }        

        @include lg {
          display: none;
        }
      }

    //   li:last-child {
    //     display: inline-block;
    // }
      
 .toggle {
  transform: scale(.5) rotate(180deg);
  margin-top: -18px;

  @include md {
    transform: scale(0.5) rotate(180deg) translateX(-60px);
  }
 }

//  LI HOVER EFFECT 

.menu__link {
  position: relative;
  &:hover {
    // color: $text-purple;
    animation: fillHover 1.7s;
    animation-fill-mode: forwards;
  }      
}

.menu__link svg {
  fill: none;
  stroke: var(--text-white);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(70% + 60px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: -1;
}

  

@keyframes fillHover {
  from {stroke: var(--text-white); }
  to {stroke: var(--text-white); color: var(--text-white);}
}


.menu__link--active svg,
.menu__link:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: fillHover 1.7s;
  animation-fill-mode: forwards;
}

}

// Background colors
 .color-one {
  position: absolute;
  background-color: var(--main-dark);
  width: 32%;
  height: 100%;
  z-index: 1;
  left: 0;
  transition: .2s;
  @include lg {
  width: 100%;
  }
}
.color-two {
  position: absolute;
  right: 0;
  background-color: var(--main-purple);
  width: 68%;
  height: 100%;
  z-index: 1;
  transition: .2s;

  @include lg {
   display: none; 
  }
}

// Homepage


.home { 
  height: 100vh;
  position: relative;
  z-index: 2;
  .selection-one {
    ::selection {
      background: var(--main-dark);
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }

  .selection-transparent {
    ::selection {
      background: transparent;
      color: var(--main-purple);
      -webkit-text-stroke-color: var(--main-dark);
    }
  }
  // .selection-two {
  //   ::selection {
  //     background: var(--text-var(--text-white));
  //     color: $main-turqoise;
  //     // -webkit-text-stroke-color: var(--main-dark);
  //   }
  // }
  
  

  .hero-section {

    font-family: 'MosakUltra';
    color: var(--text-var(--text-white));
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 3;

    .container-one {
      width: fit-content;
      height: 100%;
      @include lg {
        display: none;
      }
      #svg {
        position: relative;
        width: 100%;
        height: 100%;
        right: -25px;
        z-index: -1;
      }
      #cover {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    
    .container-two {
      max-width: 600px;
      flex-grow: 1;
      letter-spacing: .6;
      font-size: 1.9em;
      @include lg {
      max-width: 85%;
      padding-right: 0%;
      margin: 0 auto;
      font-size: 1.4em;
      }

      @include md {
        font-size: 1.2em;
        max-width: 93%;
      }
      p {
      span {
        font-family: 'Jenthill';
      }
    }

      h1 {
              span {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--text-white);
        &:hover {
          color: var(--text-white);
        }
      }
      }

    }
  }

  // About section

  .about-section {
    // ::selection {
    //   background: var(--text-var(--text-white));
    // }
  
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-turqoise);
    @include lg {
       display: flex;
    align-items: center;
    }
   

    .flex-container {
     width: 75%;
     height: 100%;
    //  background-color: gray;
     margin: auto;
     display: flex;
     justify-content: space-around;
     align-items: center;
    //  flex-wrap: wrap;
     @include breakpoint(1100px) {
      width: 85%;
     }
     @include md {
      flex-wrap: wrap;
      height: 80%;
      justify-content: flex-start;
     }
    }

    .item-one {
      width: 500px;
      height: 300px;
      // background-color: blue;
      text-align: left;
      @include sm {
        margin-bottom: 15%;

      }
      // flex-grow: 2;
      padding-right: 50px;
      h1 {
        font-size: 65px;
        line-height: 100.3%;
        padding-bottom: 20px;
        font-family: 'MosakExtra';
      }
    //  h1 {
    //   a, a:link {
    //     text-decoration: none;
    //     background-position-y: -0%;
    //     background-image: linear-gradient( transparent 50%, var(--main-purple) 50%);
    //     transition: background 500ms ease;
    //     background-size: 2px;
    //     background-size: auto 175%;
    //     // font-size: 30px;
    //   }
      
    //   a:hover {
    //     background-position-y: 100%;
    //   }
    //  }

      p {
        font-size: 20px;
        line-height: 30px;
        font-family: "MosakLight";
      }

     @include breakpoint(1100px) {
      padding-right: 40px;
      h1 {
        font-size: 55px;
        line-height: 89.3%;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-family: "MosakLight";
      }

     }
      @include lg {
        padding-right: 10px;
        height: 300px;

        h1 {
          font-size: 55px;
          line-height: 89.3%;
          padding-bottom: 15px;
        }
      }
    }
    
    .item-two {
      background-color: var(--text-white);
      height: 350px;
      flex-basis: 400px;
      @include lg {
        flex-grow: 1;
        margin-bottom: 20px;
        height: 400px;
      }
      @include md {
        height: 300px;
      }
      @include sm {
        height: 200px;
      margin-top: 7%;

      }

      .image {
        background: url('./img/websiteimage.png');
        width: 100%;
        height: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        border: 2px solid var(--text-white);
        transform: translateX(5px) translateY(-7px);
        transition: .1s ease-out;
        &:hover {
        transform: translateX(0px) translateY(0px);
        }
      }

     @include md {
      // transform: scale(.9);
      width: 80%;
      height: auto;
     }

     @include md {
      // transform: scale(.9);
      width: 90%;
      height: 50%;

     }
     @include sm {
      transform: scale(1);
      width: 90%;
      height: 40%;
     }
    }
  }

// Projects Section

  .projects-section {
    
    height: auto;
    width: 100%;
    background-color: var(--main-background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-top: 200px;
    text-align: center;

    @include md {
      // text-align: left;
    }

    h1 {
      margin: 60px;
      font-size: 45px;
      text-transform: uppercase;
      @include md {
        font-size: 40px;
        margin: 45px 0 55px 35px;
      }
    }

    
    .flex-container {
      text-align: left;
      margin: 0 auto;
      padding-bottom: 150px;
      width: 80%;
      height: 50%;
      // background-color: rgb(90, 90, 90);
      display: flex;
      justify-content: space-evenly;
      @include lg {
        flex-wrap: wrap;
        padding-bottom: 100px;
      }
    }

    .item-one {
      background-color: var(--text-white);
      height: 300px;
      flex-basis: 450px;
      @include lg {
        flex-grow: 1;
        margin-bottom: 20px;
        height: 400px;
      }
      @include md {
        height: 300px;
      }
      @include sm {
        height: 200px;
      }
      .image1 {
        background: url('./img/adventure-time.jpg');
      }
     .image2 {
        background: url('./img/iconics.jpg');
      }
      .image {
        width: 100%;
        height: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        border: 2px solid var(--text-white);
        transform: translateX(5px) translateY(-7px);
        transition: .1s ease-out;
        &:hover {
        transform: translateX(0px) translateY(0px);
        }
      }
 
    }

    
    @include lg-min-max {
      .item-two-two {
        padding: 0 40px;
      } 
    }


    .item-two {
      display: flex;
      flex-direction: column;
      // background-color: red;
      flex-basis: 500px;
      margin: 10px 0px 0 20px;
      @include lg {
        margin: 10px 0 0 0;
      }

      h3 {
        font-size: 25px;
        font-family: "MosakExtra";
      }
      h4 {
        font-size: 19px;
        font-family: 'MosakExtra';
        margin-top: 10px;
        word-spacing: 2px;
      }

      p {
        font-size: 23px;
        font-family: 'MosakLight';
        color: var(--text-gray);
        line-height: 30px;
        margin-top: 10px;
      }

      .icons {
        margin: 10px 0;
        font-family: 'MosakUltra';
        // width: 180px;
        display: flex;
        // justify-content: flex;
        
        h3 {
          font-size: 30px;
          // padding-left: 15px;
        }
      }

      .icons1 h3 {
        padding-right: 15px;
      }

      .icons2 h3 {
        padding-left: 15px;
      }

      .button {
        @include box-btn(var(--main-dark), var(--text-white), 10px);
        
      }
      @include lg {
        flex-grow: 1;
      }
      
    }

    @include lg-min {
      .item-one-one {
       order: 1;
       .image {
         transform: translateX(-7px) translateY(-7px);
       }
     }
     .item-two-two {
       text-align: right;
       align-items: flex-end;
       padding: 0 0px;
       .button {
         div {
           transform: translateX(-5px) translateY(-5px);
         }
       }
     } 
     }

     .arrows {
      // background-color: gray;
      margin: auto;
      // @include  {
      //   margin-top: -90px;
      // }


      h2 {
        @include sm {
          transform: translateY(40px);
        }
        font-size: 50px;
        // color: var(--text-gray);
      }
     }
  }

  .arsenal {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--main-background-dark);
    margin-bottom: 30px;
    color: var(--text-white);

    .items {
      width: 80%;
      display: flex;
      margin: auto;
      // background-color: var(--text-white);
      justify-content: space-around;
      flex-wrap: wrap;
      
      h4 {
        font-size: 1.2em;
      }


      div {
        text-align: center;
        // background-color: blue;
        flex-basis: 25%;
        margin-bottom: 60px;

        @include md {
          flex-basis: 20%;
          margin-bottom: 50px;
        }

        h3 {
          font-size: 78px;
          padding: 20px 20px 0px 20px;
          @include md {
            font-size: 58px;
          }
        }
      }
    }
  }

  .arsenal::after,
  .arsenal::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 90px;
    background-color: inherit;
    bottom: 0;
    z-index: 3;
    bottom: -5em;
    
  }

  .arsenal::before {
    right: 50%;
    transform: skew(0, 5deg);
  }
  .arsenal::after {
    left: 50%;
    transform: skew(0, -5deg);
  }

  @include md {
    .arsenal::after,
    .arsenal::before {
      height: 90px;
      bottom: -3em;
      
    }
    .arsenal::before {
      transform: skew(0, 8deg);
    }
    .arsenal::after {
      transform: skew(0, -8deg);
    }
  }

  .space {
    width: 100%;
    height: 115vh;
    background-color: transparent;
    position: relative;
    z-index: -1;
    // margin-bottom: 399px;
  }

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--main-purple);
  

  .square {
    width: 84%;
    height: 75%;
    background-color: var(--main-dark);
    position: relative;
    top: 6%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include md {
      flex-direction: column;
      height: auto;
      top: 10%;
      width: 90%;
      justify-content: flex-start;
    }
    @include md {
      top: 5%;
    }

    h1 {
      position: absolute;
      top: 7%;
      left: 3%;
      font-size: 50px;
      font-family: 'Work Sans';
      @include md {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        padding-top: 30px;
      }
    }

    .item-one {
      width: 45%;
      height: 57%;
      display: flex;
      flex-direction: column;
      @include md {
        width: 90%;
        order: 1;
        height: auto;
        padding-top: 20px;

       }
      // background-color: gray;
      input, textarea, select {
        color: black;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        border: solid 2px var(--text-white);
      }

      textarea {
        font-family: 'Work Sans';
        font-size: .9em;
      }

    .btn {
      @include box-btn(var(--main-dark), var(--text-white), 10px);
      @include md {
        @include box-btn(var(--main-dark), var(--text-white), 10px, 100%);
      }

    }

    .icons {
      margin: 10px 0;
      font-family: 'MosakUltra';
      // width: 180px;
      // display: flex;
      // justify-content: flex;
      display: none;

      @include md {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        padding: 20px 0;
      }
      
      h3 {
        font-size: 30px;
        // padding-left: 15px;
      }
    }

    .icons1 h3 {
      padding-right: 20px;
    }
      
    }

    .item-two {
      width: 45%;
      height: 57%;
      @include md {
       width: 90%;
       height: auto;
       padding-top: 10px;

      }
      // background-color: black;
      p {
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        color: var(--text-gray);
        line-height: 30px;
        margin-top: 10px;
        line-height: 139.8%;
        font-weight: 450;
        // word-spacing: .2em;
        
        &:first-child {
          @include md {
            display: none;
          }
        }
      }
      h3 {
        color: var(--text-gray);
        line-height: 35px;
        margin-top: 7px;
        @include md {
          display: none;
        }
      }
      .icons {
        margin: 10px 0;
        font-family: 'MosakUltra';
        // width: 180px;
        display: flex;
        // justify-content: flex;
        @include md {
          display: none;
        }
        
        h3 {
          font-size: 30px;
          // padding-left: 15px;
        }
      }

      .icons1 h3 {
        padding-right: 30px;
      }
    }
  }
}


// Slider test


